.env
.*.env

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Temporary files
*.tmp
*.log
*.swp
*.swo

# IDE directories and files (e.g., VSCode, GoLand)
.idea/
.vscode/
*.iml

# Dependency directories (vendor directory if not using Go modules)
vendor/

# Go module cache
go.sum
